.analysis {
  background: #454955;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.analysis__content {
  padding: 0px 52px;
  align-self: center;
  font-size: 1.2rem;
}

.analysis__content-title {
  font-family: "Montserrat", "Arial", sans-serif;
}

.analysis__subway {
  position: relative;
  width: 100%;
  height: 130%;
  align-self: center;
  object-fit: cover;
  margin-left: 32px;
  z-index: 2;
}

/* tablets */
@media screen and (max-width: 1023px) {
  .analysis {
    grid-template-columns: 1fr;
  }
  .analysis__content {
    background: url(../images/subway-map-dark.svg) no-repeat center / cover;
  }
  .analysis__subway {
    display: none;
  }
}
