.analysis {
    background: #454955;
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-height: 536px;
}

.analysis__content {
    box-sizing: border-box;
    padding-top: 52px;
    padding-right: 52px;
}

.analysis__subway {
    position: relative;
    height: 650px;
    left: -129px;
    top: -280px;
    z-index: 3;
}