/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))),
    url(../images/header_background.jpg);
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/header_background.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/header_background.jpg);
    height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  background-attachment: fixed;
}

.header__title {
  font-family: "Montserrat", "Arial", sans-serif;
  text-shadow: 0 0 15px #0d0a0b;
  font-weight: 700;
  font-size: 110px;
  line-height: 150px;
  margin: 160px auto 0 auto;
  text-align: center;
  z-index: 2;
}

.header__trees {
  width: 100%;
  z-index: 1;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  bottom: 0;
}

/* tablets */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header__title {
    font-size: 4rem;
  }
}

/* mobile */
@media screen and (min-width: 531px) and (max-width: 767px) {
  .header__title {
    font-size: 3.7rem;
    line-height: 5rem;
    margin-bottom: 0;
  }
}

/* small mobile */
@media screen and (max-width: 530px) {
  .header {
    height: 70vh;
  }
  .header__title {
    font-size: 2rem;
    line-height: 3rem;
  }
}