/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.modal {
  visibility: hidden;
}

.modal__opened {
  visibility: visible;
}

.modal__container {
  width: 35%;
  position: absolute;
  z-index: 4;
  right: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: rgba(13, 10, 11, 0.8);
  -webkit-transition: ease-in;
  -o-transition: ease-in;
  transition: ease-in;
}

.modal__links {
  list-style: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15px;
  margin-left: 35px;
  margin-right: auto;
  padding: 0;
}

.modal__link {
  color: #f3eff5;
  text-decoration: none;
}

@media screen and (max-width: 425px) {
  .modal__container {
    width: 50%;
  }
}