.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    background-color: #0D0A0B;
}

.nav__logo {
    margin-left: 40px;
    margin-right: auto;
}

.nav__links {
    list-style: none;
    font-weight: 400;
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    margin: 40px 80px 43px auto;
    padding: 0;
}

.nav__link {
    color: #F3EFF5;
    text-decoration: none;
    -webkit-transition-duration: 0.7s;
         -o-transition-duration: 0.7s;
            transition-duration: 0.7s;
}

.nav__link:hover {
    color: #72B01D;
}

/* tablets */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .nav__links {
        margin: 30px 40px 30px auto;
    }
}

/* mobile */
@media screen and (max-width: 767px) {
    .nav__logo {
        height: 40px;
        margin-left: 10px;
        align-self: center;
    }
    .nav__links {
        margin: 20px 10px 20px auto;
    }
}