.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background-color: #0d0a0b;
}

.nav__logo {
  margin-left: 40px;
  margin-right: auto;
  width: 68px;
}

.nav__links {
  list-style: none;
  font-weight: 400;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  margin: 40px 80px 43px auto;
  padding: 0;
}

.nav__link {
  color: #f3eff5;
  text-decoration: none;
  -webkit-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;
}

.nav__link:hover {
  color: #72b01d;
}

.nav__menu-button {
  height: 40px;
  width: 40px;
  margin: 20px 10px 20px auto;
  align-self: center;
  background: transparent url(../images/nav-menu.svg) no-repeat center;
  filter: invert(97%) sepia(4%) saturate(188%) hue-rotate(235deg)
    brightness(99%) contrast(95%);
  border: none;
  display: none;
  transition: ease-in-out 0.2s;
}

.nav__menu-button_animation {
  filter: invert(62%) sepia(14%) saturate(7486%) hue-rotate(47deg)
    brightness(101%) contrast(77%);
    transform: scale(1.1);
}

/* tablets */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .nav__links {
    margin: 30px 40px 30px auto;
  }
}

/* mobile */
@media screen and (max-width: 767px) {
  .nav__logo {
    height: 40px;
    margin: 20px auto 20px 10px;
    align-self: center;
  }
  .nav__links {
    display: none;
  }
  .nav__menu-button {
    display: block;
  }
}
