.results {
  background: #0d0a0b;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  justify-content: space-between;
  align-items: center;
}

.results__tree-status {
  background-color: #f3eff5;
  padding: 65px;
  border-radius: 50%;
  align-self: flex-end;
  margin-top: 50px;
  margin-right: 15%;
}

.results__tree-status-image {
  height: 350px;
}

.results__trees-per-year {
  background-color: #f3eff5;
  padding: 50px;
  border-radius: 50%;
  align-self: flex-start;
  margin-left: 15%;
}

.results__trees-per-year-image {
  height: 450px;
}

.results__borough-trees {
  background-color: #f3eff5;
  padding: 50px;
  border-radius: 50%;
  align-self: flex-end;
  margin-right: 15%;
}

.results__borough-trees-image {
  height: 500px;
}

.results__heat-map {
  width: 100%;
  height: 590px;
  z-index: 5;
  display: block;
  align-self: flex-end;
  grid-area: "map";
}