/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.results {
  background: #0d0a0b;
  min-height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.results__header {
  background-color: #72b01d;
  width: 100%;
  color: #0d0a0b;
  text-align: center;
  height: 10vh;
}

.results__static-map {
  background-color: #fff;
  width: 100%;
  display: flex;
}

.results__static-map-image {
  margin: 0 auto;
}

.results__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  margin: 5rem;
}

.results__capt {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  font-style: italic;
}

.results__graph-back {
  background-color: #fff;
  border-radius: 50%;
}

.results__list-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 3rem 1fr;
  grid-template-columns: 2fr 1fr;
  -webkit-column-gap: 3rem;
     -moz-column-gap: 3rem;
          column-gap: 3rem;
}

.results__list-item:nth-of-type(2) {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3rem 2fr;
  grid-template-columns: 1fr 2fr;
  -webkit-column-gap: 3rem;
     -moz-column-gap: 3rem;
          column-gap: 3rem;
}

.results__trees-per-year-image {
  height: 450px;
  padding: 45px;
}

.results__tree-status-image {
  height: 350px;
  padding: 110px 70px;
}

.results__borough-trees-image {
  height: 500px;
  padding: 10px;
}

.results__heat-map {
  width: 100%;
  height: 590px;
  z-index: 5;
  display: block;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.results__heat-map-caption {
  height: 5rem;
  margin: 50px 40px 40px 40px;
  padding-bottom: 25px;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
  font-style: italic;
  border-bottom: #fff solid 1px;
  height: auto;
}

/* tablets */
@media screen and (max-width:768px) {
  .results__header {
    display: none;
  }
  .results__static-map-image {
    width: 100vw;
  }
  .results__list-item {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
  }
  .results__graph {
    width: 100%;
    height: auto;
    padding: 0;
  }
  .results__graph-back{
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 0%;
    width: 100vw;
  }
  .results__list-item:nth-of-type(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    row-gap: 0;
  }
  .results__list-item {
    margin-top: 50px;
  }
  .results__container {
    margin: 0px 2rem;
  }
  .results__capt {
    margin: 2rem;
  }
}

/* mobile */
@media screen and (max-width:425px) {
  .results__capt {
    margin: 1rem;
    font-weight: 400;
    font-size: 1rem;
  }
}